h2.wpmm-title {
    background: url('../images/icon.svg') no-repeat left center;
    background-size: 40px;
    line-height: 42px !important;
    margin-bottom: 30px !important;
    height: 45px;
    padding-left: 55px !important;
}

/* WRAP*/
.wpmm-wrapper {
    display: table;
    width: 100%;
}

.wpmm-wrapper #sidebar {
    padding: 0 0 0 20px;
    width: 280px;
    vertical-align: top;
}

.wpmm-wrapper #sidebar .sidebar_box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    min-width: 255px;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0;
}

.wpmm-wrapper #sidebar .sidebar_box h3 {
    margin: 0;
    padding: 8px 12px;
    border-bottom: 1px solid #ececec;
}

.wpmm-wrapper #sidebar .sidebar_box .inside {
    margin: 6px 0 0;
    font-size: 13px;
    line-height: 1.4em;
    padding: 0 12px 12px;
}

.wpmm-wrapper .wrapper-cell {
    display: table-cell;
}

.wpmm-wrapper .hidden {
    display: none;
}

/* TABS */
.nav-tab-wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
    padding-top: 0 !important;
}

.nav-tab-wrapper a {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 10px;
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-tab-wrapper a .nav-tab-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

/* TABS CONTENT */
#tab-design {
    max-width: 1220px;
}

.tabs-content {
    margin-top: 20px;
    padding-left: 10px;
}

.tabs-content .wp-color-result {
    margin-bottom: -2px;
}

.tabs-content ul.bg_list {
    float: left;
}

.tabs-content ul.bg_list li {
    float: left;
    margin-right: 7px;
    opacity: 0.4;
}

.tabs-content ul.bg_list li.active {
    opacity: 1;
}

.tabs-content ul.bg_list li input {
    display: none;
}

.tabs-content .countdown_details input {
    width: 70px;
}

.tabs-content .countdown_details .margin_left {
    margin-left: 30px;
}

.tabs-content td.has-inline-color-picker {
    display: flex;
    align-items: center;
}

.tabs-content td.has-inline-color-picker .wp-picker-container .wp-color-result {
    margin: 0 6px;
}

.tabs-content .shortcodes-list-wrapper {
    margin-top: 4px;
    margin-bottom: 0;
    color: #646970;
}

.tabs-content ul.shortcodes-list {
    list-style-type: disc;
    padding-left: 15px;
    font-size: 12px;
    display: none;
}

.tabs-content ul.shortcodes-list span {
    background-color: #d3d3d3;
    padding: 2px 3px;
    margin-top: 4px;
    display: inline-block;
}

.tabs-content ul.shortcodes-list.show {
    display: block;
}

/* Design tab content */
.form-table th.wpmm-page-select-label {
    width: 80px;
}

p.wpmm-templates-gallery__description {
    font-size: 16px;
    line-height: 160%;
    margin-top: 0;
}

label.wpmm-templates-gallery__label {
    font-weight: 700;
    font-size: 24px;
}

.category-select-wrap {
    text-align: end;
}

.wpmm-templates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
}

.wpmm-template-wrap {
    width: calc( 100% / 3 - 20px);
    max-width: 290px;
}

.wpmm-template-image-wrap {
    background-color: #fff;
    line-height: 0;
    height: calc( 100% - 20px );
}

.wpmm-template-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wpmm-template-image-wrap.can-import:hover img,
.wpmm-template-image-wrap.importing img {
    opacity: .1;
}

.wpmm-template-image-wrap {
    position: relative;
}

.wpmm-template-wrap .wpmm-template-image-wrap .button-import {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.button-import .dashicons.dashicons-update {
    margin-right: 5px;
    animation: spin 2s linear infinite;
}

.wpmm-template-image-wrap.can-import:hover .button-import,
.wpmm-template-image-wrap.importing .button-import {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 782px) {
    .tabs-content td.has-inline-color-picker {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .tabs-content td.has-inline-color-picker .wp-picker-container {
        margin-top: 6px;
    }

    .tabs-content td.has-inline-color-picker .wp-picker-container .wp-color-result {
        margin-left: 0;
    }

    .tabs-content .countdown_details .margin_left {
        margin-left: 0;
    }
}

.tabs-content .wp-picker-holder {
    position:absolute;
    z-index:9999999;
}

.tabs-content #subscribers_wrap .buttons {
    margin-top: 8px;
}

.tabs-content .bot-hint {
    background: #9f9f9f;
    padding: 10px;
    float: right;
    border-radius: 5px;
    color: #fff;
}

.tabs-content .bot-button {
    display: inline-block;
}

/* SIDEBARS */
#sidebar .info_box ul {
    margin-top: 10px;
    margin-bottom: -5px;
}

#sidebar .resources_box ul, #sidebar .themes_box ul {
    margin-top: 10px;
    margin-bottom: -15px;
}

#sidebar .resources_box li, #sidebar .themes_box li {
    margin-bottom: 10px;
}

/* CHOSEN.JS MULTISELECT */
.chosen-select {
    width: 195px !important;
}

.chosen-container {
    width: 195px !important;
}

.chosen-container-active .chosen-choices {
    box-shadow: none !important;
    background-image: none !important;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #ddd !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset !important;
    background-image: none !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #0074a2 !important;
    background-image: none !important;
}

.button-big {
    min-height: 40px !important;
    padding: 12px 30px !important;
    font-size: 1.2em !important;
    line-height: 1.2 !important;
    font-weight: 700;
}

/* FOOTER RATING */
#footer-left .wpmm_rating:hover {
    text-decoration: none !important;
    color: #FFB900 !important;
}

/* MODAL */
.has-modal {
    overflow: hidden !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100000;
    display: flex;
}

.modal-frame {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    margin: auto;
    max-width: 480px;
}

.modal-content {
    padding: 45px 40px;
}

.modal-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
}

.modal-text {
    margin: 30px 0 40px 0;
}

.buttons-wrap {
    gap: 10px;
    display: flex;
}

input[type="button"].button.button-primary.is-busy {
    background-image: linear-gradient(-45deg, #2271b1 33%, #135e96 33%, #135e96 70%, #2271b1 70%) !important;
    border-color:  #2271b1;
}

input[type="button"].button.is-busy {
    background-size: 100px 100% !important;
    pointer-events: none;
    animation: button-busy-animation 2500ms infinite linear;
}

input[type="button"].button.button-secondary.is-busy {
    background-image: linear-gradient(-45deg, #fafafa 33%, #e0e0e0 33%, #e0e0e0 70%, #fafafa 70%) !important;
}

.wpmm_otter-notice {
    background: #fff;
    padding: 13px 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    column-gap: 18px;
    font-size: 16px;
    color: #717A84;
    margin-top: 35px;
}

.wpmm_otter-notice__text {
    margin-top: auto;
    margin-bottom: auto;
}

.wpmm_otter-notice__logo {
    margin: auto 0;
    position: relative;
    height: 51px;
    width: 52px;
}

.wpmm-wrapper p.notice {
    padding: 10px 15px;
}

.wpmm_status_disable {
    opacity: .4;
    pointer-events: none;
}

.wpmm-external_link_icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes button-busy-animation {
    0% {
        background-position: 200px 0;
    }
}
