.wpmm-wizard-fullscreen #adminmenumain,
.wpmm-wizard-fullscreen #wpadminbar,
.wpmm-wizard-fullscreen .notice,
.wpmm-wizard-fullscreen .wrap .notice,
.wpmm-wizard-fullscreen .wrap .error,
.wpmm-wizard-fullscreen .wrap .updated,
.wpmm-wizard-fullscreen #wpfooter {
    display: none !important;
}

.wp-toolbar .wpmm-wizard-fullscreen {
    margin-top: -32px;
    height: 100vh;
}

#wpwrap {
    height: 100%;
}

#wp-content {
    height: 100%;
}

#wpbody {
    height: 100%;
}

#wpbody-content {
    height: 100%;
    padding: 0;
}

.wrap {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wpmm-wrapper {
    flex-grow: 1;
    display: flex;
}

h2.wpmm-title {
    position: relative;

    margin: 0 !important;
    padding: 8px 105px !important;
    font-size: 18px !important;

    background-color: #fff;
    background-position: 50px;
}

h2.wpmm-title span {
    display: flex;
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

h2.wpmm-title span img {
    width: 16px;
}

.wpmm-wizard-fullscreen #wpcontent {
    margin: 0;
    padding: 0;
}

#wpmm-wizard-wrapper {
    background-color: #f4f4f4;
    overflow: hidden;
    color: #1b1b1b;
    width: 100%;

    letter-spacing: .04em;
    line-height: 1;
}

#wpmm-wizard-wrapper .slider-wrap {
    width: 300%;
    display: flex;
    transition: 0.4s ease-in-out;
    height: 100%;
}

.move-to-subscribe {
    transform: translateX( calc( -100% / 3 ) );
}

.move-to-finish {
    transform: translateX( calc( -100% / 3 * 2 ) );
}

#wpmm-wizard-wrapper .step-wrap {
    width: calc( 100% / 3 );
    display: flex;
}

.step.import-step {
    margin: min(10%, 65px) min(12%, 195px);
    width: 1090px;
}

.import-step .header {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 25px;
}

.import-step .templates-description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    color: currentColor;
}

.templates-radio {
    max-width: calc( 340px * 3 + 35px * 2 );
}

.templates-radio__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wpmm-templates-radio form {
    display: flex;
    margin-top: 60px;
    width: 100%;
    gap: 35px;
}

.wpmm-templates-radio [type=radio], .bullets-wrap [type=radio] {
    position: absolute;
    opacity: 0;
}

.wpmm-templates-radio [type=radio] + .wpmm-template {
    cursor: pointer;
    background-color: #fff;
    width: 240px;
    height: 250px;
    display: block;
}

.wpmm-templates-radio [type=radio]:checked + .wpmm-template {
    box-shadow: 0 0 0 5px #0065a6;
    border-radius: 5px;
    overflow: hidden;
}

.wpmm-templates-radio [type=radio] + .wpmm-template .checked-icon {
    display: none;
}

.wpmm-templates-radio [type=radio]:checked + .wpmm-template .checked-icon {
    display: block;
    position: absolute;
    top: 4%;
    right: 4%;
    width: 40px;
    height: 40px;
}

.wpmm-templates-radio .wpmm-template {
    position: relative;
    padding-bottom: 104%;
    width: 100%;
    height: 0;
}

.wpmm-templates-radio .wpmm-template img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
}

.wpmm-templates-radio .wpmm-template p {
    position: absolute;
    bottom: 15px;
    transform: translateX(-50%);
    left: 50%;
    white-space: nowrap;
}

.import-button {
    margin-top: 45px;
}

#wizard-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#wizard-buttons .button-import {
    max-width: 200px;
    width: 100%;
}

#wizard-buttons .button-skip {
    color: #555D66;
    border-color: #555D66;
    white-space: break-spaces;
}

.dashicons-update {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: abs-spin 2s linear infinite;
}

.wpmm-templates-radio .wpmm-template.loading img {
    opacity: .2;
}

.import-text {
    color: #717A84;
}

.wpmm-templates-radio [type=radio] + .wpmm-template {
    width: 100%;
    height: auto;
    position: relative;
}

.wpmm-templates-radio .tag {
    font-size: 15px;
    margin: 0 0 12px 0;
    color: #7a7979;
    white-space: nowrap;
}

.finish-step, .subscribe-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.finish-step h4 {
    font-size: 24px;
    max-width: 350px;
    line-height: 28px;
}

.finish-step .buttons-wrap {
    margin-top: 30px;
    display: flex;
    column-gap: 15px;
}

#view-page-button{
    color: #555D66;
    border-color: #555D66;
}

.finish-step p {
    font-size: 18px;
    max-width: 440px;
    line-height: 31px;
}

.subscribe-step {
    max-width: 365px;
}

.subscribe-step .skip-link {
    margin-top: 15px;
    color: #717A84 !important;
    font-style: italic;
    padding: 0 10px;
}

.subscribe-step h4 {
    font-size: 24px;
}

.subscribe-step p {
    color: #272626;
    font-size: 18px;
}

#email-input-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    width: 100%;
}

#email-input-wrap input[type=text] {
    color: #757575;
    height: 43px;
}

input.invalid {
    border-color: red !important;
    border-width: 2px !important;
}

input.invalid:focus {
    box-shadow: 0 0 1px red;
}

#email-input-wrap .subscribe-message {
    font-size: inherit;
    position: absolute;
    right: -10px;
    top: 0;
    transform: translate(100%, -15%);
    color: #717A84;
}

.optimole-upsell-container {
    display: flex;
}

.optimole-upsell {
    margin-top: 72px;
}

.optimole-upsell label {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.optimole-upsell p.description {
    margin-left: 35px;
    margin-top: 12px;
    font-size: 15px;
    max-width: 980px;
}

#import-step-error {
    color: #d63638;
}

@keyframes abs-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 660px) {
    #wpbody {
        padding-top: 0;
    }

    .wpmm-templates-radio form {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 782px) {
    html.wp-toolbar {
        padding-top: 32px;
    }
}

