h2.wpmm-title {
    background: url('../images/icon-48.png') no-repeat left center;
    line-height: 42px !important;
    margin-bottom: 30px !important;
    height: 48px;
    padding-left: 55px !important;
}

/* WRAP*/
.wpmm-wrapper {
    display: table;
    width: 100%;
}

.wpmm-wrapper #content {
    min-width: 800px;
}

.wpmm-wrapper #sidebar {
    padding: 0 0 0 20px;
    width: 280px;
    vertical-align: top;
}

.wpmm-wrapper #sidebar .sidebar_box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    min-width: 255px;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0;
}

.wpmm-wrapper #sidebar .sidebar_box h3 {
    margin: 0;
    padding: 8px 12px;
    border-bottom: 1px solid #ececec;
}

.wpmm-wrapper #sidebar .sidebar_box .inside {
    margin: 6px 0 0;
    font-size: 13px;
    line-height: 1.4em;
    padding: 0 12px 12px;
}

.wpmm-wrapper .wrapper-cell {
    display: table-cell;
}

.wpmm-wrapper .hidden {
    display: none;
}

/* TABS */
.nav-tab-wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;
    padding-top: 0 !important;
}

.nav-tab-wrapper a {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 10px;
    display: flex;
    align-content: center;
    align-items: center;
}

.nav-tab-wrapper a .nav-tab-icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

/* TABS CONTENT */
.tabs-content {
    margin-top: 20px;
    padding-left: 10px;
}

.tabs-content .wp-color-result {
    margin-bottom: -2px;
}

.tabs-content ul.bg_list {
    float: left;
}

.tabs-content ul.bg_list li {
    float: left;
    margin-right: 7px;
    opacity: 0.4;
}

.tabs-content ul.bg_list li.active {
    opacity: 1;
}

.tabs-content ul.bg_list li input {
    display: none;
}

.tabs-content .countdown_details input {
    width: 70px;
}

.tabs-content .countdown_details .margin_left {
    margin-left: 30px;
}

.tabs-content td.has-inline-color-picker {
    display: flex;
    align-items: center;
}

.tabs-content td.has-inline-color-picker .wp-picker-container .wp-color-result {
    margin: 0 6px 0px 6px;
}

.tabs-content .shortcodes-list-wrapper {
    margin-top: 4px;
    margin-bottom: 0;
    color: #646970;
}

.tabs-content ul.shortcodes-list {
    list-style-type: disc;
    padding-left: 15px;
    font-size: 12px;
    display: none;
}

.tabs-content ul.shortcodes-list span {
    background-color: #d3d3d3;
    padding: 2px 3px;
    margin-top: 4px;
    display: inline-block;
}

.tabs-content ul.shortcodes-list.show {
    display: block;
}

.templates-radio {
    gap: 30px;
    display: flex;
}

.templates-radio [type=radio], .bullets-wrap [type=radio] {
    position: absolute;
    opacity: 0;
}

.templates-radio [type=radio] + .template {
    cursor: pointer;
    object-fit: cover;
    width: 224px;
    height: 280px;
    background-color: #fff;
}

.templates-radio [type=radio]:checked + .template {
    outline: 2px solid #0065A6;
    box-shadow: 0 9px 23px 2px #aaa;
}

@media screen and (max-width: 782px) {
    .tabs-content td.has-inline-color-picker {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .tabs-content td.has-inline-color-picker .wp-picker-container {
        margin-top: 6px;
    }

    .tabs-content td.has-inline-color-picker .wp-picker-container .wp-color-result {
        margin-left: 0;
    }

    .tabs-content .countdown_details .margin_left {
        margin-left: 0;
    }
}

.tabs-content .wp-picker-holder {
    position:absolute;
    z-index:9999999;
}

.tabs-content #subscribers_wrap .buttons {
    margin-top: 8px;
}

.tabs-content .bot-hint {
    background: #9f9f9f;
    padding: 10px;
    float: right;
    border-radius: 5px;
    color: #fff;
}

.tabs-content .bot-button {
    display: inline-block;
}

/* SIDEBARS */
#sidebar .info_box ul {
    margin-top: 10px;
    margin-bottom: -5px;
}

#sidebar .resources_box ul, #sidebar .themes_box ul {
    margin-top: 10px;
    margin-bottom: -15px;
}

#sidebar .resources_box li, #sidebar .themes_box li {
    margin-bottom: 10px;
}

/* CHOSEN.JS MULTISELECT */
.chosen-select {
    width: 195px !important;
}

.chosen-container {
    width: 195px !important;
}

.chosen-container-active .chosen-choices {
    box-shadow: none !important;
    background-image: none !important;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #ddd !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset !important;
    background-image: none !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #0074a2 !important;
    background-image: none !important;
}

/* FOOTER RATING */
#footer-left .wpmm_rating:hover {
    text-decoration: none !important;
    color: #FFB900 !important;
}

#wpmm-wizard-wrapper {
    width: 900px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    background-color: #fff;
    overflow: hidden;
}

#wpmm-wizard-wrapper .slider-wrap {
    width: 200%;
    display: flex;
    transition: 0.4s ease-in-out;
}

.move-right {
    transform: translateX(-50%);
}

#wpmm-wizard-wrapper .step {
    width: 50%;
    padding: 60px 80px;
}
#wpmm-wizard-wrapper .second-step {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wpmm-wizard-wrapper .header {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
}

#wpmm-wizard-wrapper .description {
    line-height: 30px;
    font-size: 17px;
    font-weight: 400;
}

.templates-radio form {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 500px;
}

.templates-radio .template {
    position: relative;
}

.templates-radio .template img {
    width: 224px;
    height: 280px;
    object-fit: cover;
}

.templates-radio .template p {
    position: absolute;
    bottom: 0;
    transform: translateX(50%);
}

.templates-radio .template .tag {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px 8px;
    right: -30px;
    top: 15px;
}

#wizard-import-button, #dashboard-import-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 45px;
}

.dashicons-update {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;
}

.templates-radio .template.loading img {
    opacity: .2;
}

.step-2-header {
    font-size: 24px;
}

.bullets-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    column-gap: 8px;
    bottom: 0;
    right: 40px;
}

.bullets-wrap .bullet {
    width: 0;
    border: 4px solid #d9d9d9;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.bullets-wrap .bullet.active {
    border: 4px solid #135e96;
}

.subscribe-checkbox {
    margin-top: 20px;
}

.second-step .buttons-wrap {
    margin-top: 30px;
    display: flex;
    column-gap: 15px;
}

.second-step {
    max-width: 440px;
    text-align: center;
}

.second-step p {
    font-size: 18px;
}

.button-big {
    min-height: 40px !important;
    padding: 12px 30px !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 700;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
